<h1><%= @kanji.character %><h1>
<h5>Heisig Keyword</h5><%= @kanji.keyword %>
<p></p>
<h5>Kunyomi:</h5>
<p><%= @kanji.kunyomi %></p>
<h5>Onyomi:</h5>
<p><%= @kanji.onyomi %></p>
<h5>Koohii Story 1:</h5>
<p><%= @kanji.koohii1%></p>
<h5>Koohii Story 2:</h5>
<p><%= @kanji.koohii2%></p>
<h5>English:</h5>
<p><%= @kanji.english %></p>
<h5>Examples:</h5>
<p><%= @kanji.examples.html_safe %></p>


